/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #707070;
  transition: all 0.5s;
}
a:hover {
  color: #ff6e65;
}

/* HEADER */
header {
  /* position: fixed;
  width: 100%; */
}
.header__content {
  background-color: #0d369f;
  color: white;
  padding: 14px 15px;
}
.header__top__left li {
  display: inline-block;
  margin-right: 2em;
}
.header__top__left li a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header__top__left li a:hover {
  color: #e84e9a;
}
.header__top__left li i {
  margin-right: 8px;
}
.header__top__right li {
  display: inline-block;
  margin-right: 2em;
}
.header__top__right li a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header__top__right li a:hover {
  color: #e84e9a;
}
.header__bottom {
  height: 90px;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease 0s;
}
.header__bottom h1 a {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
  transition: all 0.5s;
}
.header__bottom span {
  text-align: left;
}
.header__bottom h1 a:hover {
  color: #ff6e65;
}
#navBar {
  padding: 1.2rem 1rem;
}
#navbarNavDropdown .nav-item {
  padding: 0 12px;
}
#navbarNavDropdown .nav-link {
  padding: 6px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
}
#navbarNavDropdown .nav-link:hover {
  color: #ff6e65;
}
#navbarNavDropdown .nav-link.active {
  color: #ff6e65;
}
#navbarNavDropdown .dropdown .dropdown-menu {
  transform: translateX(-50px);
  background-color: white;
  border: 1px solid transparent;
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
  padding: 10px 20px;
  /* text-align: center; */
}
#navbarNavDropdown .dropdown .dropdown-item {
  font-size: 16px;
  color: black;
  padding: 5px 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  display: block;
  width: 100%;
  transition: all 0.5s;
}
#navbarNavDropdown .dropdown .dropdown-item:hover {
  color: #ff6e65;
}
.header__bottom form input {
  font-size: 15px;
  color: black;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
.header__bottom form .btn {
  color: #0d369f;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 20px 0 0;
}

/* phần banner */
.banner {
  background-image: url(./../img/bg4.jpg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
}
.banner .banner_content {
  padding-top: 120px;
}
.banner .banner_content ul {
  font-size: 15px;
  color: #d4d4d4;
  margin: 0;
  padding: 0;
}
.banner .banner_content ul a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
.banner .banner_content ul a:hover {
  opacity: 1;
}

/* phần contact */
/* content  */
.contact .contact_content .contact_left h3 {
  font-weight: 700;
}
.contact .contact_content .contact_left .contact_items .item_icon {
  margin-right: 1rem;
}
.contact .contact_content .contact_left .contact_items .item_icon span {
  color: #ff6e65;
  font-size: 20px;
}
.contact .contact_content .contact_left .contact_items .item_text h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 8px;
}
.contact .contact_content .contact_left .contact_items .item_text p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #707070;
}
.contact_items .item .item_text a {
  text-decoration: none;
  color: #707070;
  cursor: pointer;
  transition: all 0.5s;
}
.contact_items .item .item_text a:hover {
  color: #ff6e65;
}
/* form  */
.contact_form .form_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.contact_form .form_title h3 span {
  color: #ff6e65;
}
.contact_form .form_title h3:before {
  content: "";
  background-color: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}
.contact_form .form_title h3:after {
  content: "";
  background-color: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}
.contact_form .form_left img {
  border-radius: 8px;
  max-width: 100%;
  display: block;
}
.contact_form .form_right input {
  border-radius: 3px;
  color: #666;
  width: 100%;
  background: #f9f9f9;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
  outline: none;
  margin-bottom: 16px;
}
.contact_form .form_right input:focus {
  border: 1px solid #ff6e65;
}
.contact_form .form_right .form-input textarea {
  width: 100%;
  color: #060606;
  background: #f9f9f9;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
  outline: none;
  border-radius: 8px;
  height: 120px;
  margin: 0 0 20px 0;
}
.contact_form .form_right .form-input textarea:focus {
  border: 1px solid #ff6e65;
}
.contact_form .form_right button {
  background-color: #ff6e65;
  color: #fff;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: all 0.5s;
}
.contact_form .form_right button:hover {
  background-color: #0d369f;
  color: #fff;
}

/* footer */
footer .main__footer {
  padding: 220px 0 100px;
  background-color: #060e1f;
  position: relative;
} 
footer .main__footer .email {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: -110px;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
}
footer .main__footer .email form {
  display: flex;
  align-items: center;
}
footer .main__footer .email form input {
  height: 60px;
  width: 80%;
  padding: 0 20px;
  font-size: 16px;
  border: 1px solid #cecece;
  border-radius: 5px 0 0 5px;
  display: block;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
footer .main__footer .email form input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
footer .main__footer .email p {
  margin-top: 10px;
  color: #707070;
  font-size: 18px;
  letter-spacing: 1.2px;
}
footer .main__footer .email form button {
  height: 60px;
  width: 100px;
  color: white;
  background-color: #0d369f;
  border: 1px solid #0d369f;
  border-radius: 0 5px 5px 0;
  margin-left: -2px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  transition: all 0.5s;
}
footer .main__footer .email form button:hover {
  opacity: 0.9;
}
footer .main__footer h5 {
  padding: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid rgba(87, 87, 87, 0.3);
  margin-bottom: 30px;
}
footer .main__footer .row ul {
  margin-top: 20px;
}
footer .main__footer ul li {
  margin: 10px 0;
  list-style: none;
  transition: all 0.5s;
}
footer .main__footer ul li i {
  font-size: 10px;
  margin-right: 10px;
  color: #cecece;
}
footer .main__footer ul li a {
  font-size: 16px;
  color: #cecece;
}
footer .main__footer ul li a:hover {
  color: #fff;
}
footer .main__footer p {
  margin-top: 20px;
  color: #cecece;
  line-height: 30px;
}
footer .main__footer p i {
  color: #cecece;
  margin-right: 10px;
  font-size: 16px;
}
footer .main__footer p a {
  color: #cecece;
}
footer .footer__icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.5s;
}
footer .footer__icon i:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}
footer .copyright {
  text-align: center;
  color: #cecece;
  padding: 20px;
  background-color: #040a17;
}
footer .copyright p {
  margin: 0;
}
footer .copyright p a {
  color: white;
  font-size: 18px;
  transition: all 0.5s;
}
footer .copyright p a:hover {
  text-decoration: underline;
}
footer .main__footer .about {
  border-left: 1px solid rgba(87, 87, 87, 0.3);
}

/* back to top  */
.backtotop {
  position: fixed;
  right: 10px;
  bottom: 100px;
  transition: all 0.5s;
}
.backtotop:hover {
  opacity: 0.8;
}
.backtotop i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  background-color: #0d369f;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  header .top__menu {
    display: none;
  }
  .b__title {
    font-size: 36px;
    font-weight: bold;
  }
  .video__right img {
    width: 100%;
  }
  .education .pic__right img {
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
  }
  .group__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: 20px;
  }
  .group .group__item {
    padding: 0px 10px;
    width: 50%;
    margin-top: 20px;
  }
  footer .main__footer .about {
    border-left: none;
  }
  footer .main__footer .email {
    padding: 40px 30px;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header .top__menu {
    display: none;
  }
  .b__title {
    font-size: 24px;
    font-weight: bold;
  }
  .group .container {
    padding: 0 20px;
  }
  .group .group__item {
    padding: 0px 10px;
    width: 100%;
    margin-top: 20px;
  }
  .video__right img {
    width: 100%;
    border-radius: 8px;
  }
  .education .pic__right img {
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
  }
  footer .main__footer .about {
    border-left: none;
  }
  footer .main__footer .email {
    padding: 40px 30px;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 578px) {
  header .top__menu {
    display: none;
  }
  .b__title {
    font-size: 24px;
    font-weight: bold;
  }
  .group .container {
    padding: 0 20px;
  }
  .group .group__item {
    padding: 0px 10px;
    width: 100%;
    margin-top: 20px;
  }
  .video__right img {
    width: 100%;
  }
  .education .pic__right img {
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
  }
  footer .main__footer .about {
    border-left: none;
  }
  footer .main__footer .email {
    padding: 30px 20px;
    width: 90%;
    margin: 0 auto;
  }
}
